@import "tailwindcss";

:root {

  /* THEME */
  --background: #ffffff;
  --foreground: #171717;
  --accent-one: rgb(139, 34, 155);

  /* TEXT */
  --text-main: #000;
  --text-secondary: #FFF;
  --text-side-bar: #FFF;

  /* BORDER */
  --border-main: #000;
  --border-side-bar: #FFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-one: var(--accent-one);
  --color-text-main: var(--text-main);
  --color-text-secondary: var(--text-secondary);
  --color-text-side-bar: var(--text-side-bar);
  --color-border-main: var(--border-main);
  --color-border-side-bar: var(--border-side-bar);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button{
  @apply active:scale-95 transition-all ease-out duration-200 cursor-pointer
}
